.hidden {
    display: none;
  }

body {
    min-width: 100%;
    min-height: 100%;
    background-image: url('./img/travis-yewell-273488.jpg');
    background-blend-mode: difference;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Cabin Condensed';
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    min-width: 100%;
    min-height: 100%; 
}

/* artist information slides up & down */
.initial-data {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    margin-top: -15px;
}

.show-initial-data-btn {
    display: none;
    font-family: 'Cabin Condensed';
    border-radius: 5px;
    width: 71px;
    height: 35px;
    font-size: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 29px;
}

.hide-initial-data-btn {
    display: none;
    font-family: 'Cabin Condensed';
    border-radius: 5px;
    width: 71px;
    height: 35px;
    font-size: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.active .hide-initial-data-btn {
    display: block;
}

.active {
    max-height: 1400px;
    transition: max-height 1s;
}

.artist-name-and-data {
    margin-top: 20px;   
}

.artist-name {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    width: 445px;
    margin-left: auto;
    margin-right: auto;
}

.check-out {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.read-and-link-container {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
}

.performance-info {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px; 
     
}

header {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px; 
    height: 260px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

header, h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.906);
}

h1 {
    font-size: 110px;
    margin-bottom: 10px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

.container {
    text-align: center;
    position: relative;
    top: 50px;
}

/*  size of input */
.query {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
}

input[type="text"] {
    font-size: 25px;
}

.search-button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Cabin Condensed';
    font-size: 20px;
}

.search-results {
    position: relative;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.related-search-results {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    
}

h2 {
    font-size: 60px;
}

a {
    font-size: 25px;
    color: black;
}

a:hover { 
    color: white;
}

p {
    font-size: 19px;
}

.related-search-results {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    display: block;
    margin: auto;
    margin-top: -25px;
}

.related-artist-name {
    display: inline;
    text-align: center;
}

.tease-read-container, .ticket-info, .ticket-link {
    padding-left: 25px;
    padding-right: 25px;
}

